importFrom("stats", "offset", "pbeta", "pbinom", "qbeta", "rmultinom",
           "rnorm", "runif", "integrate", "rbinom", "sd")

export(get_oc_gBOIN_continuous)
export(get_oc_QuasiBOIN)
export(get_oc_gBOIN_TB)

export(next_gBOIN_continuous)
export(next_gBOIN_TB)
export(next_QuasiBOIN)

export(select_mtd_gBOIN_continuous)
export(select_mtd_gBOIN_TB)
export(select_mtd_QuasiBOIN)
export(get_oc_RQ_CRM)
export(next_RQ_CRM)
export(select_mtd_RQ_CRM)

export(get_oc_Ivanova_binary)
export(next_Ivanova_binary)
export(select_mtd_Ivanova_binary)

export(get_oc_Ivanova_continuous)
export(next_Ivanova_continuous)
export(select_mtd_Ivanova_continuous)
